<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>HTML DYNAMIC FORM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
                <script type="text/javascript" src="orgApsGoogleForm.js"></script>
<style>
    div {border: 2px; border-color: #000000;}
</style>
    </head>
    <body>
        <div id="FormHead"></div>
        <div id="FormBody"></div>
        <div id="FormFoot"></div>
    </body>





<script>
                            var FB_PUBLIC_LOAD_DATA_ = [,["Welcome to your one-stop-shop for international student sending!  ",[[2066561658,"Untitled Section",,8]
,[403365102,"Is this referral for yourself or someone else?","",2,[[1000001,[["Myself",,1612607933]
,["Someone else",,1634287846]
]
,1]
]
]
,[1612607933,"","",8,,-2]
,[1062675,"Are you returning to your home country or going somewhere else?","",2,[[1000011,[["Home country",,1915360719]
,["Somewhere else",,1497057995]
]
,1]
]
]
,[1634287846,"Information about you:","",8]
,[1061206789,"What is your name?","",0,[[2558849,,1]
]
]
,[169197709,"Which best describes you?","",4,[[1000006,[["BI staff/intern"]
,["Cru staff/intern (non-BI)"]
,["other ISM staff"]
,["Church leader"]
,["Volunteer"]
,[,,,,1]
]
,1]
]
]
,[2064621216,"What is your phone number?","",0,[[1000007,,1]
]
]
,[760049558,"What is your email address?","",0,[[1000008,,1]
]
]
,[420091384,"Which statement best describes the person you are referring?","",2,[[1000012,[["The person is returning to his/her home country.",,418618432]
,["The person is moving from one location in the United States to somewhere else.",,788787179]
,["This person is coming to the United States to begin studies as a Chinese international",,910212421]
]
,1]
]
]
,[788787179,"Information about the person transferring to a new location:","",8]
,[978666240,"Name:","",0,[[1000060,,1]
]
]
,[335953097,"English Nickname (if any):","",0,[[1000113,,0]
]
]
,[537572314,"Nationality:","",0,[[1000061,,1]
]
]
,[1583197107,"Gender","",2,[[1000062,[["male"]
,["female"]
]
,1]
]
]
,[269920980,"Current phone number","",0,[[1000066,,1]
]
]
,[1333304641,"Current email address","",0,[[1000067,,1]
]
]
,[1355635250,"Current mailing address","",1,[[1000068,,0]
]
]
,[175325457,"Current university","",0,[[1000089,,0]
]
]
,[559435012,"Which of the following best describes the person's spiritual status?","",2,[[1000064,[["non believer"]
,["new believer"]
,["growing believer"]
,["multiplying believer"]
]
,1]
]
]
,[1849841340,"What is the educational level of the person?","",2,[[1000065,[["working on their undergraduate degree"]
,["completed their undergraduate degree (Bachelor of Science, Bachelor of Arts, etc.)"]
,["completed a Master's degree"]
,["completed a PhD degree"]
,["not a student"]
,[,,,,1]
]
,1]
]
]
,[1343503175,"Briefly describe the person's involvement, outreach experience and training:","",1,[[1000069,,1]
]
]
,[180521959,"Any other information about this person (family situation, etc.):","",1,[[1000112,,0]
]
]
,[75626497,"Information about the new location:","",8]
,[1163194829,"What is the reason for their moving to a new location?","",2,[[1000063,[["transferring to another school for more education"]
,["moving to another city for a job"]
,[,,,,1]
]
,1]
]
]
,[349973491,"When will the person move to the new location?","",0,[[1000070,,1]
]
]
,[487737869,"Where is the new location? (city or name of school)","",0,[[1000071,,1]
]
]
,[1494729492,"What contact information do you have for the person in the new location? (phone number, email, social messaging, mailing address)","",1,[[1000072,,1]
]
]
,[1497057995,"Information from someone moving somewhere other than their home country","",8,,1505904587]
,[112132300,"Your name:","",0,[[1000073,,1]
]
]
,[1915533648,"Your English nickname (if you have one):","",0,[[1000114,,0]
]
]
,[877196014,"Your nationality:","",0,[[1000074,,1]
]
]
,[817099128,"Your gender","",2,[[1000075,[["male"]
,["female"]
]
,1]
]
]
,[2017172000,"Your current phone number","",0,[[1000076,,0]
]
]
,[1569071619,"Your current email address","",0,[[1000077,,1]
]
]
,[233501030,"What university are you currently attending or recently graduated from?","",0,[[1000143,,0]
]
]
,[3552339,"Which of these best describes your educational level as you make this move?","",2,[[1000078,[["I will continue working on my undergraduate degree"]
,["I will have completed an undergraduate degree (Bachelor of Sci., Bachelor of Arts, etc.)"]
,["I will have completed a Master's degree"]
,["I will have completed a PhD degree"]
,["I am not a student"]
,[,,,,1]
]
,1]
]
]
,[1823657020,"Please briefly describe your past involvement in church, Bible studies, outreach or training:","",1,[[1000079,,1]
]
]
,[660685722,"What is the reason for moving to a new location?","",2,[[1000080,[["transferring to another school for more education"]
,["moving to another city for a job"]
,[,,,,1]
]
,1]
]
]
,[1360858080,"When will you move to the new location?","",0,[[1000081,,1]
]
]
,[793621814,"Where is the new location? (city or name of school)","",0,[[1000082,,1]
]
]
,[1381978068,"What will be your contact information in the new location? (new phone number, email, social messaging, mailing address)","",1,[[1000083,,0]
]
]
,[910212421,"Incoming Disciple","",8,,1505904587]
,[258523888,"学生中文的姓名 (用拼音) [student’s Chinese name (please use pinyin)]","",0,[[1000036,,1]
]
]
,[1354120222,"学生英文的姓名 (student's English name)","",0,[[1000037,,1]
]
]
,[2123527038,"性别 [gender]","",2,[[1000038,[["男 [male]"]
,["女 [female]"]
]
,1]
]
]
,[1505307047,"在中国的学校 [university in China]","",0,[[1000039,,1]
]
]
,[866765895,"在中国的省/市 [province/city in China]","",0,[[1000040,,1]
]
]
,[761843251,"已完成的最高学历 [highest education level completed]","",0,[[1000041,,1]
]
]
,[1668857677,"专业 [area of study]","",0,[[1000042,,1]
]
]
,[1113170819,"配偶/子女 [spouse/children]","",0,[[1000043,,1]
]
]
,[1788681976,"在中国的故乡 [hometown in China]","",0,[[1000044,,1]
]
]
,[216151415,"介绍人 [referrer]","",0,[[1000045,,1]
]
]
,[2061031513,"关系 [relationship]","",0,[[1000046,,1]
]
]
,[1461598746,"介绍人的联系信息 [referrer’s contact info]","",0,[[1000047,,1]
]
]
,[419638709,"学生的属灵情况 （请选择所有符合实际情况的选项） [student’s spiritual status (check all the apply)]","",4,[[1000048,[["属灵对话 [spiritual interest conversations]"]
,["已分享福音 [gospel presentation]"]
,["决志信主 [prayed to receive Christ] "]
,["如果已受洗 [baptized]"]
,["参与教会 [involved in local church]"]
,["每周聚会都参加 [regularly attends weekly meeting]"]
,["不定期参加聚会 [sporadically attends weekly meeting]"]
]
,1]
]
]
,[2132067910,"其他信息 [additional comments]","",1,[[1000049,,1]
]
]
,[1174399059,"辅导人/属灵带领者的联系信息 [discipler's/mentor’s name \u0026 contact info]","",0,[[1000050,,1]
]
]
,[778749015,"这个学生在美国是否有认识的人? [Does the student know anyone in the U.S.?]","",2,[[1000056,[["是(yes)"]
,["不(no)"]
,["不确定(unsure)"]
]
,1]
]
]
,[33133307,"在其所到达的城市有无认识的人? [Does the student know anyone in their U.S. arrival city?]","",2,[[1000057,[["是(yes)"]
,["不(no)"]
,["不确定(unsure)"]
]
,1]
]
]
,[1895683941,"学生本人是否愿意在来美后参与教会活动？[Does the student want to become involved with a local church?]","",2,[[1000058,[["是(yes)"]
,["不(no)"]
,["不确定(unsure)"]
]
,1]
]
]
,[857325110,"学生是否愿意有国际桥梁的同工联系他/她? [Would the student like to be contacted by a Bridges staff or partner ministry?]","",2,[[1000059,[["是(yes)"]
,["不(no)"]
,["不确定(unsure)"]
]
,1]
]
]
,[1387131493,"在美国的大学/城市 [university/city in the U.S.]","",0,[[1000051,,1]
]
]
,[161324180,"在美国的电话/电子邮件 [phone/email in the U.S.]","",0,[[1000052,,1]
]
]
,[1537316160,"赴美国计划（进一步学习深造？工作？） [future plan (further study? work?)]","",1,[[1000053,,1]
]
]
,[2030826957,"代祷事项和实际需要 [prayer requests \u0026 practical needs]","",1,[[1000054,,1]
]
]
,[418618432,"","",8,,1505904587]
,[2075322911,"What is the returnee's nationality?","",2,[[1000005,[["Chinese",,194832942]
,["South Asian (India, Nepal, Sri Lanka)",,270063108]
,["Middle Eastern, North African, Central Asian",,1150034690]
,[,,1970034599,,1]
]
,1]
]
]
,[194832942,"Chinese Returnee","",8]
,[887100485,"What is the returnee's Chinese name in pinyin (surname, given name)?","",0,[[1000004,,1]
]
]
,[1995639800,"What is the returnee's English name (if applicable)?","",0,[[1000015,,0]
]
]
,[1902085093,"Which of the following best describes the person's spiritual status?","",2,[[1000013,[["Non-believer",,580498791]
,["New believer",,1846786512]
,["Growing believer",,1846786512]
,["Multiplying believer",,1846786512]
]
,1]
]
]
,[580498791,"Chinese Non-believer Returnee","We are unable to refer non-believing Chinese returnees to in-country ministries or churches.  Instead, we encourage you to do the following:\n\n1.  Stay in touch via Skype.  Be sure to have your friend download Skype in the U.S. before they return.  It's more secure that way!\n2.  Encourage your returnee to visit Chinese evangelistic websites such as www.renshishen.com and www.xinshengming.com. \n3.  Make sure your friend has a Chinese Bible.\n4.  Encourage them to study evangelistic Bible studies, such as \"Uniqueness of Jesus\" and \"Foundations of Faith\" (available at www.reachinginternationals.com)\n\nThank you for your investment in this person's life!",8]
,[270063108,"South Asian Returnee","",8,,1505904587]
,[1548686633,"What is the returnee's name (surname, given name)?","",0,[[1000156,,1]
]
]
,[991621095,"What is the returnee's spiritual status?","",4,[[1000157,[["Trusts Christians"]
,["Is curious"]
,["Open to change"]
,["Seriously seeking"]
,["New believer"]
,["Growing believer"]
,["Multiplying believer"]
]
,1]
]
]
,[1863037678,"Returnee's current phone number:","",0,[[1000158,,1]
]
]
,[1145114106,"Returnee's current email address:","",0,[[1000159,,1]
]
]
,[649747378,"Which describes the returnees stateside educational status?","",4,[[1000161,[["Undergraduate"]
,["Master's program"]
,["Doctorate program"]
,["Visiting scholar"]
,["Not a student"]
,[,,,,1]
]
,1]
]
]
,[1154746367,"Returnee's stateside university:","",0,[[1000160,,0]
]
]
,[1328903678,"If the returnee is a believer, which is true of their background:","",4,[[1000162,[["Christian background believer"]
,["Hindu background believer"]
,[,,,,1]
]
,0]
]
]
,[1609625447,"What is their plan upon returning home?","",1,[[1000163,,1]
]
]
,[2096245639,"What ministry experience do they have?","",1,[[1000164,,1]
]
]
,[1668062799,"What formal ministry training do they have? (e.g., seminary, evangelism training, church internship, etc.)","",1,[[1000165,,1]
]
]
,[17621468,"Date of return:","",0,[[1000167,,1]
]
]
,[681416823,"Returnee's post-return City, Country","",0,[[1000168,,1]
]
]
,[1184443807,"Returnee's post-return contact information (address, phone number, email, instant messaging)?","",1,[[1000169,,1]
]
]
,[1150034690,"Middle Eastern, North African, Central Asian Returnee","IMPORTANT NOTE:  Please do not fill in this information unless the student has given you permission and desires help in connecting with Christians or finding fellowship back home.",8,,1505904587]
,[1181722759,"What is the returnee's name (surname, given name)?","",0,[[1000084,,1]
]
]
,[1498576361,"Give the returnee's nickname (if any exists):","",0,[[1000085,,0]
]
]
,[811021247,"Which of the following best describes the person's spiritual status?","",2,[[1000086,[["Non-believer",,1164648563]
,["New believer",,425214056]
,["Growing believer",,425214056]
,["Multiplying believer",,425214056]
]
,1]
]
]
,[1164648563,"Middle Eastern, North African, or Central Asian Non-believer Returnee","We are unable to refer non-believing returnees to in-country ministries or churches.  Instead, we encourage you to do the following:\n\n1.  Stay in touch with your returnee friend.  Skype is a great way to do that.  Be sure to have your friend download Skype in the U.S. before they return.  It's more secure that way!\n2.  Encourage your returnee to visit appropriate evangelistic websites such as www.whoisthemessiah.wordpress.com. \n3.  Make sure your friend has a Bible in their own language.\n4.  Encourage them to study evangelistic Bible studies, such as \"Uniqueness of Jesus\" and \"Foundations of Faith\" (available at www.reachinginternationals.com)\n\nThank you for your investment in this person's life!",8]
,[425214056,"Middle Eastern, North African or Central Asian Returnee","",8,,1505904587]
,[901179556,"What is the returnee's current phone number (prior to returning home)?","",0,[[1000087,,1]
]
]
,[260764344,"What is the returnee's current email address?","",0,[[1000088,,1]
]
]
,[1073216120,"What is the returnee's stateside university?","",0,[[1000115,,1]
]
]
,[78820592,"Describe the returnee's stateside educational status?","",4,[[1000116,[["Undergraduate"]
,["Master's program"]
,["Doctorate program"]
,["Visiting scholar"]
,["Not a student"]
,[,,,,1]
]
,1]
]
]
,[179361554,"When did the returnee trust Christ?","",0,[[1000117,,1]
]
]
,[1438880626,"What is the returnee's plan upon returning home (e.g., start work, more education, teach, look for work, etc.)? What will they be doing? How long do they expect to be there?","",1,[[1000118,,1]
]
]
,[163063027,"Briefly describe the topics or materials that the returnee has studied (e.g., what Bible studies, discipleship series, etc.).","",1,[[1000119,,1]
]
]
,[1530519575,"Briefly describe the types of ministry experience the returnee has had (e.g., ministry trips, training conferences, etc.).","",1,[[1000120,,1]
]
]
,[1420018246,"What formal ministry training has the returnee had (e.g., seminary, evangelism training, ministry/church internship, etc.)?","",1,[[1000121,,1]
]
]
,[1605189735,"On what date will they return?","",0,[[1000122,,1]
]
]
,[2019920841,"Where will the returnee be returning to (City, Country)?","",0,[[1000123,,1]
]
]
,[1271127891,"What is the returnee's post-return contact information (address, phone number, email, instant messaging)?","",1,[[1000124,,1]
]
]
,[1947434256,"Returnee's Spiritual Maturity","Please comment on the returnee's spiritual maturity.  Rate them on a 5-point scale as follows:\n\n1:  Most likely has received Christ but has not demonstrated maturity nor ownership of return - likely to make minimal impact upon return\n2:  Passively attends church or fellowship - likely to make slight impact upon return\n3:  Growing in their spiritual journey but still not mature - likely to make moderate impact upon return\n4:  Maturing believer, regularly involved in ministry - likely to make considerable impact upon return\n5:  Incredibly sharp believer, spiritual \"self-feeder\", multiplying disciple - likely to make exceptional impact upon return",8]
,[134389389,"Please rate the returnee's spiritual maturity according to the above scale.","",5,[[1000125,[["1"]
,["2"]
,["3"]
,["4"]
,["5"]
]
,1,["Minimal impact","Exceptional impact"]
]
]
]
,[2003538994,"Are family members aware of his/her faith in Christ? Please explain.","",1,[[1000126,,1]
]
]
,[882522933,"Is the returnee aware of other Christians in country? Please explain.","",1,[[1000127,,1]
]
]
,[1970034599,"Multi-Nations Returnee","",8,,1505904587]
,[442849465,"What is the returnee's name (surname, given name)?","",0,[[1000129,,1]
]
]
,[10288344,"Give the returnee's English nickname (if any exists):","",0,[[1000130,,0]
]
]
,[680943108,"Which of the following best describes the person's spiritual status?","",2,[[1000128,[["Non-believer",,-2]
,["Non-believer but sincerely seeking",,973392273]
,["New believer",,973392273]
,["Growing believer",,973392273]
,["Multiplying believer",,973392273]
]
,1]
]
]
,[199718202,"Multi-Nations Non-believer Returnee","We are unable to refer non-believing returnees to in-country ministries or churches.  Instead, we encourage you to do the following:\n\n1.  Stay in touch with your returnee friend.  Skype is a great way to do that.  Be sure to have your friend download Skype in the U.S. before they return.  It's more secure that way!\n2.  Encourage your returnee to visit appropriate evangelistic websites such as www.whoisthemessiah.wordpress.com. \n3.  Make sure your friend has a Bible in their own language.\n4.  Encourage them to study evangelistic Bible studies.\n\nThank you for your investment in this person's life!",8]
,[973392273,"Multi-Nations Returnee","",8,,1505904587]
,[886016482,"What is the returnee's current phone number (prior to returning home)?","",0,[[1000131,,1]
]
]
,[564694095,"What is the returnee's current email address?","",0,[[1000132,,1]
]
]
,[2027872466,"What is the returnee's stateside university?","",0,[[1000133,,1]
]
]
,[1413217784,"Returnee's stateside educational status?","",4,[[1000134,[["Undergraduate"]
,["Master's program"]
,["Doctorate program"]
,["Visiting scholar"]
,["Not a student"]
,[,,,,1]
]
,1]
]
]
,[286824967,"When did the returnee trust Christ?","",0,[[1000135,,1]
]
]
,[1006578041,"What is the returnee's plan upon returning home (e.g., start work, more education, teach, look for work, etc.)? What will they be doing? How long do they expect to be there?","",1,[[1000136,,1]
]
]
,[1695147909,"Briefly describe the topics or materials that the returnee has studied (e.g., what Bible studies, discipleship series, etc.).","",1,[[1000137,,1]
]
]
,[1157492653,"Briefly describe the types of ministry experience the returnee has had (e.g., ministry trips, training conferences, etc.).","",1,[[1000138,,1]
]
]
,[1763869674,"What formal ministry training has the returnee had (e.g., seminary, evangelism training, ministry/church internship, etc.)?","",1,[[1000139,,1]
]
]
,[1641630845,"On what date will they return?","",0,[[1000140,,1]
]
]
,[1718224075,"Where will the returnee be returning to (City, Country)?","",0,[[1000141,,1]
]
]
,[799926456,"What is the returnee's post-return contact information (address, phone number, email, instant messaging)?","",1,[[1000142,,1]
]
]
,[1930620219,"Preparation for return - Check all that apply about the returnee:","",4,[[1000155,[["Has been briefed on re-entry"]
,["Is willing to join a local church"]
,["Is willing to be coached by a Bridges staff regarding return"]
,["Is willing to be contacted by a local believer (if possible)"]
]
,1]
]
]
,[1915360719,"Homeland Return","",8,,1947434256]
,[2039839591,"What is your nationality?","",2,[[1000014,[["Chinese",,1142160670]
,["Middle Eastern, North African, Central Asian",,1465197365]
,["South Asian (India, Nepal, Sri Lanka)",,1565792856]
,[,,1811619878,,1]
]
,1]
]
]
,[1142160670,"Chinese Homeland Return","",8]
,[957894437,"What is your Chinese name in pinyin (surname, given name)?","",0,[[1000090,,1]
]
]
,[434446422,"What is your date of birth?","",0,[[1000096,,1]
]
]
,[1833273130,"What is your current phone number (prior to returning home)?","",0,[[1000097,,1]
]
]
,[445707061,"What is your current email address?","",0,[[1000098,,1]
]
]
,[2105370874,"What is your overseas university?","",0,[[1000099,,1]
]
]
,[1439553824,"Which of the following best describes your overseas educational status?","",2,[[1000100,[["Undergraduate"]
,["Graduate student (master's program)"]
,["Graduate student (doctorate program)"]
,["Visiting scholar"]
,["Not a student"]
,[,,,,1]
]
,1]
]
]
,[384175858,"What city in China will you be returning to?  Please give as much information as possible, such as district within the city, etc.","",0,[[1000092,,1]
]
]
,[1946466181,"What is your plan upon returning home (i.e., start work, begin new degree program, looking for work, etc.)?  What will they be doing?  How long do they expect to be there?","",1,[[1000101,,1]
]
]
,[1646894208,"When did you trust Christ?","",0,[[1000102,,1]
]
]
,[1431407420,"Briefly describe the topics or materials that you have studied (e.g., Bible studies, discipleship series, etc.).","",1,[[1000103,,1]
]
]
,[2095339210,"Briefly describe the types of ministry experience you have had (e.g., mission trips, training conferences, etc.)","",1,[[1000104,,1]
]
]
,[1363956540,"What formal ministry training have you had (e.g., seminary, evangelism training, ministry/church internship, etc.)?","",1,[[1000105,,1]
]
]
,[512003440,"Briefly describe how you became a Christian.","",1,[[1000091,,1]
]
]
,[1172008365,"Briefly describe your spiritual journey since becoming a Christian.","",1,[[1000093,,1]
]
]
,[1618702666,"Describe the church and/or fellowship you attended while overseas.","",1,[[1000094,,1]
]
]
,[123002227,"Which best describes the language of your spiritual growth while overseas?","",4,[[1000095,[["Mandarin only"]
,["English only"]
,["Both languages, more Mandarin than English"]
,["Both languages, more English than Mandarin"]
,["Both languages equally"]
,[,,,,1]
]
,1]
]
]
,[2078655565,"Which of the following best describes the nature of your return?","",2,[[1000106,[["Permanent return",,1505904587]
,["Temporary return (e.g., summer)",,1209626570]
]
,0]
]
]
,[153761950,"What date will you be arriving in China?","",0,[[1000107,,1]
]
]
,[1218251740,"What is your post-return address in China?","",0,[[1000108,,1]
]
]
,[617200762,"What is your post-return phone number?","",0,[[1000109,,1]
]
]
,[4122932,"What is your post-return email address?","",0,[[1000110,,1]
]
]
,[617789268,"What is your instant messaging username (e.g., Skype, QQ, etc.)?  Indicate username and platform.","",0,[[1000111,,1]
]
]
,[1209626570,"Summer Mission Project","Have you considered attending the East Asia Trek to be held in Asia from May 31 - June 9?  To learn more, visit www.chinesetrek.com.  Thanks!",8]
,[1465197365,"Middle Eastern, North African or Central Asian Homeland Return","If you are returning home to North Africa, the Middle East or Central Asia and you would like help in making the transition well and finding Christian fellowship, please email to internlfriends.com and explain your situation.",8,,1505904587]
,[1565792856,"South Asian Homeland Return","This site is designed for international students at American universities who will soon return to their home country and who would like help to make the transition well and find Christian fellowship.  If that describes you, please fill in the following information and we will be back in touch with you.",8,,1505904587]
,[914217602,"What is your name?","",0,[[1000170,,1]
]
]
,[1362049110,"What is your current phone number?","",0,[[1000171,,0]
]
]
,[777820812,"What is your current email address?","",0,[[1000172,,1]
]
]
,[254159556,"What is your stateside university?","",0,[[1000173,,1]
]
]
,[728163063,"Which of the following best describes your educational status as you return home?","",2,[[1000174,[["I will continue working on my undergraduate degree"]
,["I will have complete an undergraduate degree (Bachelor of Sci., Bachelor of Arts, etc.)"]
,["I will have completed a Master's degree"]
,["I will have completed a Doctorate degree"]
,["I was a visiting scholar"]
,["Not a studdent"]
,[,,,,1]
]
,1]
]
]
,[1980846683,"Which of the following best describes your spiritual journey?","",2,[[1000175,[["I am a follower of Jesus"]
,["I am not a follower of Jesus but interested in learning more"]
,["I am not a follower of Jesus and I'm fine with what I currently believe"]
,["I am not sure"]
]
,1]
]
]
,[265820404,"Date of your return to your home country:","",0,[[1000176,,1]
]
]
,[769739008,"Where will you be located (City, Country)","",0,[[1000177,,1]
]
]
,[115584439,"What will be your contact information in your new location (new phone number, email, social messaging, mailing address)?","",1,[[1000178,,1]
]
]
,[1811619878,"Multi-Nations Homeland Return","This site is designed for international students at American universities who will soon return to their home country and who would like help to make the transition well and find Christian fellowship.  If that describes you, please fill in the following information and we will be back in touch with you.",8,,1505904587]
,[402268467,"What is your name?","",0,[[1000145,,1]
]
]
,[686609346,"What is your current phone number?","",0,[[1000147,,0]
]
]
,[2033633961,"What is your current email address?","",0,[[1000146,,1]
]
]
,[1808255750,"What is your stateside university?","",0,[[1000148,,1]
]
]
,[709202695,"Which of the following best describes your educational status as you return home?","",2,[[1000149,[["I will continue working on my undergraduate degree"]
,["I will have complete an undergraduate degree (Bachelor of Sci., Bachelor of Arts, etc.)"]
,["I will have completed a Master's degree"]
,["I will have completed a Doctorate degree"]
,["I was a visiting scholar"]
,["Not a studdent"]
,[,,,,1]
]
,1]
]
]
,[1653483462,"How would you describe yourself?","",2,[[1000150,[["I am a follower of Jesus"]
,["I am not a follower of Jesus but I am interested in learning more about him"]
,["I am not sure"]
]
,1]
]
]
,[1917841042,"If you have been involved in a Christian fellowship on your campus, describe your involvement:","",1,[[1000151,,0]
]
]
,[1196505295,"Date of your return to your home country:","",0,[[1000152,,1]
]
]
,[966014658,"Where will you be located (City, Country)","",0,[[1000153,,1]
]
]
,[1840242064,"What will be your contact information in your new location (new phone number, email, social messaging, mailing address)?","",1,[[1000154,,1]
]
]
,[1846786512,"Chinese Returnee","",8,,1505904587]
,[1448852673,"What is the returnee's date of birth?","",0,[[1000017,,1]
]
]
,[990262463,"What is the returnee's current phone number (prior to returning home)?","",0,[[1000018,,1]
]
]
,[1857087029,"What is the returnee's current email address?","",0,[[1000019,,1]
]
]
,[1503047420,"What is the returnee's overseas university?","",0,[[1000035,,1]
]
]
,[186356033,"What was the returnee's overseas educational status?","",2,[[1000021,[["Undergraduate"]
,["Graduate student (master's program)"]
,["Graduate student (doctorate program)"]
,["Visiting scholar"]
,["Not a student"]
,[,,,,1]
]
,1]
]
]
,[306485946,"Returnee's Spiritual History \u0026 Ministry Experience","",8]
,[2024430494,"When did the returnee trust Christ?","",0,[[1000028,,1]
]
]
,[1324810583,"What is the returnee's plan upon returning home (i.e., start work, begin new degree program, looking for work, etc.)?  What will they be doing?  How long do they expect to be there?","",1,[[1000023,,1]
]
]
,[250841117,"Briefly describe the topics or materials that the returnee has studied (e.g., Bible studies, discipleship series, etc.).","",1,[[1000024,,1]
]
]
,[1646182236,"Briefly describe the types of ministry experience the returnee has had (e.g., mission trips, training conferences, etc.)","",1,[[1000025,,1]
]
]
,[1947005230,"What formal ministry training has the returnee had (e.g., seminary, evangelism training, ministry/church internship, etc.)?","",1,[[1000026,,1]
]
]
,[1076397626,"Chinese Returnee Biographical Information","",8]
,[1597129103,"Which of the following best describes the nature of the returnee's return?","",2,[[1000027,[["Permanent return",,1111825999]
,["Temporary return (e.g., summer)",,1047018681]
]
,0]
]
]
,[771630309,"What date will the returnee be arriving in China?","",0,[[1000016,,1]
]
]
,[1797116938,"What city will the returnee be returning to?","",0,[[1000031,,1]
]
]
,[1663205847,"What is the returnee's post-return address in China?","",0,[[1000030,,1]
]
]
,[1116699614,"What is the returnee's post-return phone number?","",0,[[1000029,,1]
]
]
,[705131213,"What is the returnee's post-return email address?","",0,[[1000032,,1]
]
]
,[1360259913,"What is the returnee's instant messaging username (e.g., Skype, QQ, etc.)?  Indicate username and platform.","",0,[[1000020,,1]
]
]
,[1047018681,"Summer Mission Project","Have you considered inviting the returnee to attend the East Asia Trek to be held in Asia from May 31 - June 9?  To learn more, visit www.chinesetrek.com.  Thanks!",8,,-2]
,[1111825999,"Returnee's Spiritual Maturity","Please comment on the returnee's spiritual maturity.  Rate them on a 5-point scale as follows:\n\n1:  Most likely has received Christ but has not demonstrated maturity nor ownership of return - likely to make minimal impact upon return\n2:  Passively attends church or fellowship - likely to make slight impact upon return\n3:  Growing in their spiritual journey but still not mature - likely to make moderate impact upon return\n4:  Maturing believer, regularly involved in ministry - likely to make considerable impact upon return\n5:  Incredibly sharp believer, spiritual \"self-feeder\", multiplying disciple - likely to make exceptional impact upon return",8]
,[2032549699,"Please rate the returnee's spiritual maturity according to the above scale.","",5,[[1000022,[["1"]
,["2"]
,["3"]
,["4"]
,["5"]
]
,1,["Minimal impact","Exceptional impact"]
]
]
]
,[950718879,"Returnee's Preparation","",8]
,[18428620,"Check all that apply about the returnee:","",4,[[1000034,[["Has been briefed on re-entry"]
,["Is willing to be integrated into a returnee fellowship"]
,["Is willing to be integrated into a local church"]
,["Is willing to be coached by Chinese Network regarding return"]
,["Is willing to be contacted by a local believer in China"]
,[,,,,1]
]
,0]
]
]
,[1098846816,"","Thank you for submitting a returnee referral for your Chinese friend.  In order to begin networking this returnee, we need to receive a form completed by the returnee directly.  Please direct your friend to www.sendingpad.com and instruct them to submit a form for themselves.  Thank you!",8]
,[1505904587,"Referral (almost) Finished","After entering your additional comments in the box below, be sure to continue to the next page and click on the \"submit\" button in order to complete the referral.  If you do not do this, the data will be lost.",8]
,[348424325,"Any additional comments?","",1,[[1000033,,0]
]
]
,[819354185,"","",8,,819354185]
]
,["Thank you for your referral!  Someone will be in touch with you as soon as possible.",,0,0]
,,,[0,0]
,0,[1]
,"Referral Networking",17,,,["dERZNUdja2QyQjE3WE5PNVo2TmJvY2c6MQ","0AuzE5l9avMbpdERZNUdja2QyQjE3WE5PNVo2TmJvY2c",34,1,"flume-2015-06-08--d691312ab31d6408"]
,,,[2]
]
,"/forms","SendingPad [Referral Networking]","",["1le6rNE-QjfbDOIPhLCdp6_qoy1Yqy2oXrfdXu3J0GJ8",3,["0"]
]
,[[1,"https://docs.google.com/[domain]spreadsheet/ccc?key\u003d[key]\u0026usp\u003d[usp]#gid\u003dform"]
,[2,"//www.google.com/fusiontables/data?docid\u003d[key]"]
,[3,"https://docs.google.com/[domain]spreadsheets/d/[key]?usp\u003d[usp]#gid\u003d[grid]"]
]
,"0","",0,0,"","",0,"e/1FAIpQLSd7WTigtFT92DLoBVBtLc5eLz4hlnRBamQHKOQZs18sXEHqWg"]
;</script>

<script>
    processForm(FB_PUBLIC_LOAD_DATA_);
</script>  
</html>