<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
       <link rel="shortcut icon" sizes="16x16" href="https://ssl.gstatic.com/docs/spreadsheets/forms/favicon_qp2.png">
       <title>海归转介表 Returnees Referral Form </title>
       <link rel="stylesheet" href="https://www.gstatic.com/_/freebird/_/ss/k=freebird.v.-1snbx2a54ijfg.L.W.O/d=1/rs=AMjVe6jZr65lcP9Iya13hAJZr9na-jqUTA" data-id="_cl">
       <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=latin,vietnamese,latin-ext,cyrillic,greek,cyrillic-ext,greek-ext" rel="stylesheet" type="text/css">
       <link href="https://fonts.googleapis.com/css?family=Product+Sans&subset=latin,vietnamese,latin-ext,cyrillic,greek,cyrillic-ext,greek-ext" rel="stylesheet" type="text/css">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="GoogleForm.css">




<html>
    <head>
        <title>海归转介表 Returnees Referral Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
                <script type="text/javascript" src="apsGoogleForm.js"></script>
<style>
    div {border: 2px; border-color: #000000;}
</style>
    </head>
    <body style=" alignment-adjust:central; text-align:left;">
        <div class="freebirdFormviewerViewCenteredContent" style="background-color:white; padding:5px;">
        <div id="FormHead"></div>
        <div id="FormBody" style="text-align:left;"></div>
        <div id="FormFoot"></div>
        </div>
    </body>
<script> 
// Note "海归转介表 Returnees Referral Form" was added in place of null for first array element 
 var FB_PUBLIC_LOAD_DATA_ = ["海归转介表 Returnees Referral Form",["为海归基督徒推荐国内地方教会，由认识海归的介绍人填写",[[307080389,"姓名 Name",null,0,[[1787215532,null,1]
]
]
,[163501946,"性别 Gender",null,2,[[650335918,[["男 Male",null,null,null,0]
,["女 Female",null,null,null,0]
]
,1,null,null,null,null,null,0]
]
]
,[1838458134,"年龄 Age",null,0,[[57943010,null,1]
]
]
,[337396166,"WhatsApp账号 Account",null,0,[[1882270752,null,0]
]
]
,[833986045,"电子邮箱 e-mail",null,0,[[785611426,null,0]
]
]
,[204217583,"联络电话 Phone number",null,0,[[2132320086,null,1]
]
]
,[232394702,"出国国家 Abroad country",null,4,[[150445219,[["美国 USA",null,null,null,0]
,["英国 UK",null,null,null,0]
,["澳洲 Australia",null,null,null,0]
,["日本 Japan",null,null,null,0]
,["德国 Germany",null,null,null,0]
,["西班牙 Spain",null,null,null,0]
,["法国 France",null,null,null,0]
,["俄国 Russia",null,null,null,0]
,["韩国 Korea",null,null,null,0]
,["加拿大 Canada",null,null,null,0]
,["荷兰 Holland",null,null,null,0]
,["新加坡 Singapore",null,null,null,0]
,["",null,null,null,1]
]
,1,null,null,null,null,null,0]
]
]
,[1455983085,"海外时的城市 Abroad city",null,0,[[316926457,null,0]
]
]
,[1590015052,"海外学校 Abroad school",null,0,[[2004166139,null,0]
]
]
,[290909984,"在海外的年份  Year abroad",null,0,[[1383826780,null,0]
]
]
,[675704654,"婚姻状况 Marital status",null,2,[[240677706,[["单身",null,null,null,0]
,["已婚",null,null,null,0]
,["已婚有小孩",null,null,null,0]
,["离婚",null,null,null,0]
,["不便提供",null,null,null,0]
]
,1,null,null,null,null,null,0]
]
]
,[416365826,"回国日期",null,9,[[54057988,null,0,null,null,null,null,[0,1]
]
]
]
,[1182351752,"回国后所在城市 Returnees' city",null,2,[[1833475328,[["北京 Beijing",null,null,null,0]
,["上海 Shanghai",null,null,null,0]
,["广州 Guangzhou",null,null,null,0]
,["深圳 Shenzhen",null,null,null,0]
,["天津 Tianjin",null,null,null,0]
,["昆明 Kunming",null,null,null,0]
,["厦门 Xiamen",null,null,null,0]
,["杭州 Hangzhou",null,null,null,0]
,["成都 Chengdu",null,null,null,0]
,["",null,null,null,1]
]
,1,null,null,null,null,null,0]
]
]
,[1943067688,"是否有宗派背景 Religious background",null,2,[[12428075,[["是 Yes (是的话请在下题描述 Please fill in the next question)",null,null,null,0]
,["否 No",null,null,null,0]
]
,1,null,null,null,null,null,0]
]
]
,[1675778801,"简叙宗教背景 Brief introduce religious background",null,1,[[476769105,null,0]
]
]
,[1926872415,"信仰状况",null,2,[[1627874450,[["慕道",null,null,null,0]
,["决志未受洗",null,null,null,0]
,["决志且受洗",null,null,null,0]
,["决志受洗且参与过服侍",null,null,null,0]
]
,1,null,null,null,null,null,0]
]
]
,[1920466920,"受洗年份",null,0,[[1051109810,null,0]
]
]
,[1622927811,"参与过的服事",null,0,[[1294284014,null,0]
]
]
,[1517244579,"海外所属教会和团契",null,0,[[1656238978,null,0]
]
]
,[232646525,"在教会或团契中上过的课程或培训",null,0,[[384377124,null,0]
]
]
,[1606962106,"介绍人 Referrer",null,0,[[712659639,null,1]
]
]
,[316506912,"介绍人联系方式 Referrer' contact",null,0,[[136714668,null,1]
]
]
]
,null,null,[null,null,null,null,null,[null,[["1iMYGKbpda20sPkFa932NekNVJ2ajSNZ1rR-jpaXY6fEEVw",0,[1200,300,0]
]
]
,[[24,71,155,null,2]
,[204,212,226,null,1]
,[204,212,226,null,1]
,[35,100,206,null,2]
,[24,71,155,null,2]
]
]
]
,[0,0]
,null,null,"海归转介表 Returnees Referral Form ",30,[null,null,null,null,0]
,null,null,null,null,[2]
]
,"/forms","海归Referral ","",["1PhRvnJL8i3M3uGjKGByEe5dOT6Kd3bppOmX-_QTq0sE",3,["1170724586"]
]
,[[1,"https://docs.google.com/[domain]spreadsheet/ccc?key\u003d[key]\u0026usp\u003d[usp]#gid\u003dform"]
,[2,"//www.google.com/fusiontables/data?docid\u003d[key]"]
,[3,"https://docs.google.com/[domain]spreadsheets/d/[key]?usp\u003d[usp]#gid\u003d[grid]"]
]
,"0","",0,0,"","",0,"e/1FAIpQLSeVJSuoBYM4cRzxI29plGFeeUYeKkK9HSYVoHy5r96PbtIQRQ",0]
;       
</script>

<script>
    processForm(FB_PUBLIC_LOAD_DATA_);
    
</script>  

</html>