<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
                
        <table>
            <tr><th colspan="6" align="center"><h2>海归介绍表  Returnee Referral Form</h2></th>
        <tr><td colspan="2">海归姓名(中) Returnee’s Name (Chinese)</td><td><input type="text"></td></tr>
        <tr><td colspan=2>海归姓名(英文) Returnee’s Name (English)</td><td><input type="text"></td></tr>
        <tr><td colspan="2">海归性别 Returnee’s gender</td><td><input size="3" type="text"> &nbsp; 年龄 Age <input type="text" size="3"></td><td></td></tr>
        <tr><td colspan="2">海外所在国家 Country when overseas</td><td><input type="text"></td></tr>
        <tr><td colspan="2">所在校园，城市 Campus/State or Province</td><td><input type="text"></td></tr>
                
    
    </table>
        <table>
        
            <tr><td>海外身份 Status Overseas</td></tr>
            <tr><td>海外留学Study </td><td>访问学者 Visiting Scholar</td><td>交换学生 Exchanging Student</td></tr>
            <tr><td></td><td>陪读 Spouse</td><td>其他Other</td><td><input type="text"></td></tr>
            <tr><td></td><td>本科Undergrad</td><td>硕士Masters</td><td>博士 PhD</td><td>学科Area of study</td></tr>
            <tr><td>未婚Unmarried</td><td>已婚 Married</td><td>如已婚，配偶，孩子If married, Spouse / Child: </td><td> </td></tr>
             <tr><td>在海外年数Length of time overseas</td><td> </td><td> 介绍人Referred by </td><td> </td></tr>
              <tr><td>和介绍人关系Relationship: </td><td> </td><td> 介绍人联系方式Reference’s Contact Info:  </td><td> </td></tr>
               <tr><td>海外经历Returnee’s Experience Overseas:</td><td> </td><td>请打勾Check what applies: </td><td> </td></tr>
                <tr><td>海外带领者姓名和联系方式及其所属教会/机构/派别  </td><td>Discipler / Mentor’s name, contact info & affiliated church/organization: </td><td> </td><td> </td></tr>
                 <tr><td>海外信仰学习常用语言Language used for bible study and church involvement</td><td> </td><td> </td><td> </td></tr>
                  <tr><td> </td><td>英语 English</td><td>汉语 Chinese </td><td>其他Others</td></tr>
            <tr><td>对福音有兴趣spiritual interest conversations  </td><td> </td><td>听过完整福音gospel presentation  </td><td> </td></tr>
               <tr><td>决志跟随基督decision to follow Christ. </td><td>什么时候If so, when </td><td>受洗日期Baptized when </td><td> </td></tr>
                <tr><td>服侍恩赐 Service gifts  </td><td>参与教会involved in church </td><td> </td><td> </td></tr>
                 <tr><td>有每周聚会的习惯habit of weekly meeting </td><td> </td><td>偶尔聚会sporadic attendance  </td><td>家人信主情况 Family’s faith situation </td></tr>
                  <tr><td>回国的准备Preparation to Return </td><td>受过海归预备培训has been briefed on re-entry experience </td><td> </td><td> </td></tr>
            <tr><td>愿意融入国内教会is willing to be integrated into a church back home  </td><td> </td><td>希望国内教会联系他would like to be contacted by a brother or sister in China  </td><td> </td></tr>
            <tr><td>回国后Back Home  </td><td> </td><td> </td><td> </td></tr>
            <tr><td>抵达城市landing city </td><td> </td><td> </td><td> </td></tr>
            <tr><td>预计抵达日期(或已经)Estimate Arrival Date: X年X月 </td><td> </td><td> </td><td> </td></tr>
            <tr><td>联系电话或电子邮件phone # & email & 微信: 回国计划（学习或工作）Plan (Further study? Work?):  </td><td> </td><td> </td><td> </td></tr>
            <tr><td>*代祷事项或实际需要，需要prayer requests & practical needs:   </td><td> </td><td>填表日期Date: X月X日X年 </td><td> </td></tr>
            <tr><td> </td><td> </td><td> </td><td> </td></tr>
            <tr><td> </td><td> </td><td> </td><td> </td></tr>
            
          
<tr><td colspan="4">
Note: This form should be filled by the referrer rather than returnees themselves.
注：本表应由海外介绍人填写，而非海归本人填写。</td></tr>
        </table>




：
                             




    </body>
</html>